.login {
    margin: 0 30% 0 30%;
    
}

.fm {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px
}

.rad {
    margin-left: 5px;
}

p {
    font-weight: bold;
}

.dropdown {
    margin-top: 15px;
    font-weight: bold;
}

#ddn {
    margin-left: 10px;
}

#fst_txt{
    font-weight: bold;
    font-size: large;
}
#snd_txt{
    font-family: sans-serif;
    font-weight: 200;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 50px;
}

.tab{
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: 30%;
}


.succ_heading{
    text-align: center;
    text-decoration: underline;
}